/*

       _ __ ___  ___ ___   _ __ ___  ___  ___  _   _ _ __ ___ ___  ___ 
      | '__/ _ \/ __/ __| | '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
      | | | (_) \__ \__ \ | | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
      |_|  \___/|___/___/ |_|  \___||___/\___/ \__,_|_|  \___\___||___/


                      https://rossresources.tumblr.com/
   
                    CRIADO POR ROSS, NÃO TIRE OS CRÉDITOS

                                *:･ﾟ✧*:･ﾟ✧

                   CREATED BY ROSS DON'T REMOVE MY CREDITS
          
*/

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Noto+Serif+Display:ital,wght@1,900&display=swap');

#r2202_across-the-time-post {
  --width: 740px;
  --image-size: 140px;
  --background: #efefef;
  --bg-color: #e3dcd2;
  --text-bg-color: #dfd6cfe3;
  --accent: #618e93;
  --text-color: #000;
  width: var(--width);
  white-space: normal;
}

#r2202_across-the-time-post .rcontainer {
  margin: 25px 0 0;
  background: var(--bg-color);
  position: relative;
  overflow: hidden;
}

#r2202_across-the-time-post .rcontainer::before {
  content: "";
  border: 15px solid var(--background);
  outline: 1px solid var(--background);
  outline-offset: 5px;
  position: absolute;
  z-index: 1;
  inset: 25px;
  mix-blend-mode: luminosity;
}

#r2202_across-the-time-post .rheader {
  height: 400px;
  position: relative;
  background: center/cover;
  background-image: url(https://i.imgur.com/zx8mkG2.png), url(https://images2.imgbox.com/e0/89/574pcFNk_o.png);
  -webkit-mask-image: linear-gradient(180deg, black 45%, transparent);
  mask-image: linear-gradient(180deg, black 45%, transparent);
}

#r2202_across-the-time-post .rheader img {
  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;
  border-radius: 100%;
  padding: 5px;
  border: 30px solid #0000002b;
  position: absolute;
  top: 80px;
  left: 170px;
}

#r2202_across-the-time-post .rheader > span {
  width: 150px;
  position: absolute;
  top: 150px;
  left: 400px;
}

#r2202_across-the-time-post .rheader > span i {
  display: block;
  font: bold 10px/100% 'Calibri', sans-serif;
  color: var(--text-color);
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

#r2202_across-the-time-post .rheader > span b {
  display: block;
  margin-top: 15px;
  font: italic 900 60px/100% 'Noto Serif Display', serif;
  color: var(--accent);
  letter-spacing: -5px;
  text-align: right;
}

#r2202_across-the-time-post .rtxt {
  position: relative;
  z-index: 1;
  padding: 30px 30px 15px;
  margin: -70px 70px -70px;
  border-radius: 5px;
  background: var(--text-bg-color);
  font: 13px/180% 'ABeeZee', sans-serif;
  letter-spacing: .8px;
  color: var(--text-color);
  text-align: justify;
  white-space: break-spaces;
}

#r2202_across-the-time-post .rfooter {
  height: 250px;
  position: relative;
  background: linear-gradient(0deg, #d1c9bf, var(--bg-color));
}

#r2202_across-the-time-post .rfooter > span {
  width: 220px;
  position: absolute;
  top: 100px;
  left: 90px;
}

#r2202_across-the-time-post .rfooter > span b {
  display: block;
  background: var(--accent);
  padding: 7px 7px 6px;
  border-radius: 5px;
  font: bold 10px/100% 'Calibri', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  opacity: .8;
}

#r2202_across-the-time-post .rfooter > span i {
  display: block;
  font: italic 900 40px/140% 'Noto Serif Display', serif;
  color: var(--text-color);
  letter-spacing: -4px;
  opacity: .5;
}

#r2202_across-the-time-post .rfooter::after {
  content: "";
  display: block;
  width: 740px;
  height: 740px;
  background: center/cover;
  background-image: url(https://i.imgur.com/BRiRVMC.png), url(https://images2.imgbox.com/44/ed/sq7ky2nq_o.png);
  mix-blend-mode: multiply;
  filter: contrast(2);
  opacity: .4;
  position: absolute;
  bottom: -300px;
  right: -200px;
  transition: all .6s ease;
}

#r2202_across-the-time-post:hover .rfooter::after {
  transform: rotate(90deg);
}

#r2202_across-the-time-post:after {
  display: block;
  content: "「R」";
  font: bold 7px/12px 'Arial';
  text-transform: uppercase;
  opacity: .3;
}

#r2202_across-the-time-post:hover::after {
  content: "「ROSS RESOURCES」";
}