/*

            「 fleurie 」

  TEMPLATE CRIADO POR ROSS, NÃO TIRE OS CRÉDITOS

*/

#rfleurienpc-container {
  --lightcolor: #ab85c7;
  --darkercolor: #ab85c7;
  --shadowcolor: #ab85c7;

  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  justify-content: center;
}

#rfleurienpc {
  width: 250px;
  border: 10px solid #191919;
  background: #e0e0e0;
  overflow: hidden;
  color: #000;
  margin: 3px;
}

#rfleurienpc .rcontainer {
  width: 100%;
  height: 400px;
  position: relative;
  top: 0;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

#rfleurienpc .rcapa {
  width: 100%;
  height: calc(100% - 60px);
  box-sizing: border-box;
  background: center/cover;
  border: 1px solid var(--lightcolor);
}

#rfleurienpc .rnomecontainer {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid var(--lightcolor);
  margin-top: -1px;
  background: #7b7b7b url(https://tamtampress.files.wordpress.com/2017/04/el-comienzo-de-una-cancic3b3n-es-como-la-primera-luz-que2c-al-iluminar-el-escenario2c-abre-el-concierto.jpg) center/cover;
  background-blend-mode: multiply;
}

#rfleurienpc .rnome {
  font: bold 40px/140% Arial;
  color: transparent;
  -webkit-text-stroke: 1px var(--lightcolor);
  text-transform: lowercase;
  padding: 0;
  margin: 0;
  text-shadow: none;
}

#rfleurienpc:hover .rcontainer {
  position: relative;
  top: -339px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#rfleurienpc .rinfocontainer {
  width: 100%;
  height: 400px;
  border-top: 10px solid #191919;
}

#rfleurienpc .ricon {
  width: 115px;
  height: 130px;
  background: center/cover;
  margin: 10px 2.5px;
  display: inline-block;
}

#rfleurienpc .rbasics {
  width: 115px;
  height: 130px;
  border: 1px solid var(--lightcolor);
  display: inline-block;
  vertical-align: top;
  margin: 10px 2.5px;
  box-sizing: border-box;
  padding: 15px 10px;
  font: 12px/153% Arial;
  text-align: justify;
  text-transform: lowercase;
}

#rfleurienpc b {
  font-size: 14px;
  color: var(--darkercolor);
}

#rfleurienpc .rheader h1 {
  width: 100%;
  background: var(--darkercolor);
  margin: 0 0 20px;
  color: #000;
  font: 18px/100% Arial;
  letter-spacing: -1px;
  padding: 5px 0;
}

#rfleurienpc .rinfo {
  width: calc(100% - 15px);
  padding: 10px 0 7px;
  border: 1px solid var(--lightcolor);
  margin: 10px 0;
  text-transform: lowercase;
  font: 10px/100% Arial;
  letter-spacing: .5px;
}

#rfleurienpc .rinfo b {
  font-size: 10px;
}

#rfleurienpc-container:after {
  display: block;
  width: 100%;
  content: "「RR」";
  font: bold 7px/12px 'Arial';
  text-transform: uppercase;
  opacity: .7;
}

#rfleurienpc-container:hover::after {
  content: "「is.gd/rossr」";
}