/*

       _ __ ___  ___ ___   _ __ ___  ___  ___  _   _ _ __ ___ ___  ___
      | '__/ _ \/ __/ __| | '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
      | | | (_) \__ \__ \ | | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
      |_|  \___/|___/___/ |_|  \___||___/\___/ \__,_|_|  \___\___||___/


                     https://rossresources.tumblr.com/

              TEMPLATE CRIADO POR ROSS, NÃO TIRE OS CRÉDITOS

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

#rr_toxic-rain {
    width: 670px;
    font: 12px/120% 'Roboto';
    position: relative;
    --cellWidth: 250px;
    --cellHeight: 460px;
    --notchWidth: 80px;
    --bg-cell1: #000;
    --bg-cell2: #171717;
    --bg-app: #404040;
    --text-color: #fff;
    --day-mode: 0;
}

#rr_toxic-rain .rcell {
    width: var(--cellWidth);
    height: var(--cellHeight);
    background: linear-gradient(75deg, var(--bg-cell1), var(--bg-cell2)) fixed;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px 7px 20px;
    position: relative;
    margin-left: -70px;
}

#rr_toxic-rain .rcontainer {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

#rr_toxic-rain input[type="checkbox"] {
    display: none;
}

#rr_toxic-rain > label {
    width: var(--cellWidth);
    height: var(--cellHeight);
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: calc(50% - var(--cellWidth)/2);
    cursor: pointer;
}

#rr_toxic-rain .rcellsclock {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #636363 center/cover;
    background-blend-mode: multiply;
    color: var(--text-color);
    position: relative;
    bottom: 0;
    transition: all .7s ease;
    transition-delay: .2s;
}

#rr_toxic-rain .rtop {
    width: calc(100% - 14px);
    height: 20px;
    background: #00000024;
    color: var(--text-color);
    font: 600 11px/185% 'Roboto';
    position: absolute;
    top: 10px;
    z-index: 5;
    margin-bottom: 50px;
}

#rr_toxic-rain .rtop date {
    width: calc(50% - var(--notchWidth)/2);
    padding: 0 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#rr_toxic-rain .rnotch {
    width: var(--notchWidth);
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background: linear-gradient(75deg, var(--bg-cell1), var(--bg-cell2)) fixed;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    border-radius: 0 0 35% 35%;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 8px 0 0;
}

#rr_toxic-rain .rnotch::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 3px;
    background: repeating-linear-gradient(45deg, #2f2f2f 3px, #3c3c3c 7px);
    border-radius: 3px;
}

#rr_toxic-rain .rnotch::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 7px;
    height: 7px;
    background: radial-gradient(#353535, #232323);
    border: 1px solid #232323;
    box-sizing: border-box;
    border-radius: 100%;
    margin: -2px 0 0 7px;
}

#rr_toxic-rain .rtop batt {
    width: calc(50% - var(--notchWidth)/2);
    padding: 0 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

#rr_toxic-rain .rtop batt::after {
    width: 15px;
    height: 15px;
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    position: relative;
    top: 2px;
    background: url(https://i.imgur.com/ROkR6Oz.png) center/cover;
    opacity: .8;
    filter: invert(var(--day-mode));
}

#rr_toxic-rain .rhoursday {
    margin-top: 70px;
    height: 110px;
    color: var(--text-color);
    font-size: 11px;
    font-family: 'Heebo';
}

#rr_toxic-rain .rhoursday hours {
    display: block;
    font-weight: 100;
    font-size: 70px;
    letter-spacing: -3px;
    line-height: 100%;
}

#rr_toxic-rain .rhoursday b {
    font-weight: 400;
    letter-spacing: 2px;
}

#rr_toxic-rain .rnotifs {
    width: 100%;
    position: absolute;
    bottom: 110px;
}

#rr_toxic-rain .rnot {
    min-height: 58px;
    margin: 2px 0;
    background: #f9f9f9;
    color: #000;
    padding: 5px;
    text-align: left;
}

#rr_toxic-rain .rnot > span {
    display: block;
    padding: 0 5px;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 9px;
    letter-spacing: 1px;
}

#rr_toxic-rain .rnot span .cp {
    color: #909090;
    font-size: 13px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: top;
}

#rr_toxic-rain .rnot img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    float: left;
    margin: -5px 10px 0 5px;
}

#rr_toxic-rain .rhrs {
    font: 100 56px/90% 'Heebo';
    color: var(--text-color);
    margin-bottom: 15px;
}

#rr_toxic-rain .rmint {
    text-transform: uppercase;
    font: 500 9px/7px 'Poppins';
    letter-spacing: 1px;
}

#rr_toxic-rain .rmessages {
    width: 100%;
    height: 100%;
    padding: 20px 0 0;
    box-sizing: border-box;
    background: var(--bg-app);
    color: var(--text-color);
}

#rr_toxic-rain .ruser {
    height: 40px;
    padding: 5px;
}

#rr_toxic-rain .ruser img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
    float: left;
    margin-left: 5px;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
}

#rr_toxic-rain .ruser div {
    width: calc(100% - 60px);
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

#rr_toxic-rain .rconv {
    width: 100%;
    height: calc(100% - 50px);
    box-sizing: border-box;
    padding: 10px;
    background: center/cover;
    overflow: auto;
    font-size: 12px;
    line-height: 14px;
}

#rr_toxic-rain .rconv span {
    width: 100%;
    min-height: 25px;
    display: block;
    line-height: 100%;
}

#rr_toxic-rain .rconv me, #rr_toxic-rain .rconv them {
    max-width: 80%;
    display: inline-block;
    padding: 5px 8px;
    margin: 2px 0;
    border-radius: 5px;
    box-shadow: 2px 1px 5px #00000052;
}

#rr_toxic-rain .rconv them {
    float: left;
    clear: both;
    text-align: left;
    background: #fff;
    color: #000;
    font-weight: normal;
}

#rr_toxic-rain .rconv me {
    float: right;
    clear: both;
    text-align: right;
    background: var(--messages);
    color: #fff;
    font-style: normal;
}

#rr_toxic-rain .rconv img {
    max-width: 85%;
    border-radius: 5px;
}

#rr_toxic-rain *::-webkit-scrollbar {
    width: 6px;
    background: #00000045;
}

#rr_toxic-rain *::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    border: 1px solid #000000a6;
    border-radius: 10px;
}

#rr_toxic-rain:after {
    display: block;
    content: "「R」";
    font: bold 8px/12px 'Consolas';
    color: #8e8e8e;
    text-transform: uppercase;
    opacity: .5;
    margin-left: -70px;
}

#rr_toxic-rain:hover::after {
    content: "「ROSS RESOURCES」";
}